# Node modules
node_modules/

# Next.js build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files (wrażliwe dane)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code
.vscode/

# MacOS
.DS_Store

# Others
*.log
*.lock
